extends layout

block content
  script $('.body').css('background-color', '#{loggedInUser.color}');
  h1= title

  div(id="container")
    div(id="carousel")
      each img, i in loggedInUser.img_urls
        form(id="make_comment", action='/comment', method='post')
          img(src="#{img.url}")
          input(type="hidden", name="img_id", value="#{img.id}")
          input(type="text", name="comment")
          input(type="submit", value="Submit")
    a(id="ui-carousel-next")(href='#') next
    div
    a(id="ui-carousel-prev")(href='#') prev
  
  script $( "#carousel" ).rcarousel( {width: 200, height: 200, visible:1, step:1, margin:10, auto:{enabled: true}} );
  //- script $( "#carousel" ).rcarousel( {width: 200, height: 200, visible:1, step:1, margin:10);
  form(id='change_color', action='/color', method='post')
    h3 Enter a new background color!
    input(class="bkgd_color", name="color")
    input(class="color_button", type="submit")

  a(href="/logout", class="logout") Logout